<h1>Risks </h1>

<div class="row">
  <div class="col-md-11">
    <input ng-model="risks.riskDesc" type="text" class="form-control col-md-6" id="riskInp" placeholder="description">
  </div>
  <div class="col-md-1">
    <button ng-click="risks.addRisk()" type="button" class="btn btn-default">
      Add
    </button>
  </div>
</div>

<br>

<table class="table table-striped">
  <tbody>
    <tr ng-repeat="risk in risks.risks">
      <td ng-bind="risk.desc">Loading risks ...</td>
    </tr>
  </tbody>
</table>

